body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
li {
  padding-top: 20px;
}
.window {
  padding: 100px;
  border-radius: 20%;
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
